recipe: default.v1
language: en

pipeline:
- name: WhitespaceTokenizer
- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: DIETClassifier
  epochs: 30
  constrain_similarities: true
- name: EntitySynonymMapper
- name: ResponseSelector
  epochs: 30

policies:
- name: MemoizationPolicy
- name: RulePolicy
- name: TEDPolicy
  epochs: 30
assistant_id: 20251029-141005-minimum-trip
